<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerentes con Experiencia</title>
</head>
<body>
<h2>Gerentes con Experiencia</h2>
<a th:href="@{/search}">Regresar</a>
<table border="1">
    <thead>
    <tr>
        <th>Departamento</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Sueldo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${lista}">
        <td th:text="${item.departmentName}"></td>
        <td th:text="${item.managerFirstName}"></td>
        <td th:text="${item.managerLastName}"></td>
        <td th:text="${item.salary}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
