<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departamentos por País y Ciudad</title>
</head>
<body>
<h2>Reporte de departamentos por país y ciudad (con más de 3 empleados)</h2>
<a th:href="@{/search}">Regresar</a>
<table border="1">
    <thead>
    <tr>
        <th>País</th>
        <th>Ciudad</th>
        <th>Cantidad de Departamentos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${lista}">
        <td th:text="${item.country}"></td>
        <td th:text="${item.city}"></td>
        <td th:text="${item.departmentCount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
