<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reportes</title>
</head>
<body>
<h1>Reportes de Empleados</h1>
<a th:href="@{/}" style="text-decoration: none;">
    <button type="button">Regresar al Inicio</button>
</a>
<ul>
    <li><a th:href="@{/search/ejer4/trabajos-sueldo-alto}">Reporte: Trabajos con sueldo alto</a></li>
    <li><a th:href="@{/search/ejer4/departamentos-por-ubicacion}">Reporte: Departamentos por país y ciudad</a></li>
    <li><a th:href="@{/search/ejer4/gerentes-experimentados}">Reporte: Gerentes experimentados</a></li>
</ul>
</body>
</html>
