<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historial de Empleados</title>
</head>
<body>
<h1>Historial de Empleados</h1>
<a th:href="@{/}" style="text-decoration: none;">
    <button type="button">Regresar al Inicio</button>
</a>
<div style="display: flex">
<form th:action="@{/history}" method="get">
    <input type="text" name="search" placeholder="Buscar historial..." />
    <label for="type">Filtro</label>
    <select id="type" name="type">
        <option value="1">Nombre</option>
        <option value="2">Apellido</option>
        <option value="3">Puesto</option>
        <option value="4">Departamento</option>
    </select>
    <button type="submit">Buscar</button>
</form>
<button><a th:href="@{/history}">Limpiar</a></button>
</div>
<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Puesto</th>
        <th>Departamento</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="h : ${history}">
        <td th:text="${h.employee.firstName}">Nombre</td>
        <td th:text="${h.employee.lastName}">Apellido</td>
        <td th:text="${h.job.jobTitle}">Puesto</td>
        <td th:text="${h.department.departmentName}">Departamento</td>
        <td th:text="${h.startDate}">Inicio</td>
        <td th:text="${h.endDate}">Fin</td>
    </tr>
    </tbody>
</table>
</body>
</html>
